.user-profile thead th.ng2-smart-actions.ng-star-inserted {
    width: 1em;
}
.user-profile td.ng2-smart-actions {
    float: left !important;
}
.user-profile td.ng2-smart-actions ng2-st-tbody-custom {
    float: left;
    width: auto;
    display: flex;
    margin-top: 0.5em;
}
.user-profile td.ng2-smart-actions ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom {
    margin-left: 0.5em;
}
:host ::ng-deep ng2-smart-table .edit-icon{
    margin-right: 0.75rem;
}
:host ::ng-deep ng2-smart-table .ng2-smart-action-edit-save,
:host ::ng-deep ng2-smart-table .ng2-smart-action-add-create{
    margin-right: 0.5rem;
}
.add-new-link{
    color: #1e6bb8;
    font-size: 0.875rem;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
}
