#tableId {
    border-collapse: collapse;
    width: 100%;
}

#tableId td, #tableId th{
    border: 1px solid #dddddd;
    padding: 8px;
}

#tableId tr:nth-child(even){background-color: #f2f2f2;}

#tableId tr :hover {background-color: #dddddd;}

#tableId th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: white;
}