::-webkit-input-placeholder {
    padding-left: 1rem;
  }
:-ms-input-placeholder {
    padding-left: 1rem;
  }
::placeholder {
    padding-left: 1rem;
  }
 .input-group-addon {
    position: absolute;
    z-index: 2;
    left: 2%;
    line-height: 2.5rem;
 }
 .fa-lock{
     font-size: 1.25rem;
 }

 .btn-sm{
  background: #00bcd4;
  font-size: 13px;
  height: 30px;
  color: #ffff;
  border-radius: 2rem;
  padding-right: 20px;
  padding-left: 20px;
  border: 1px solid #00bcd4;
}

.secondary{
  margin-right: 10px;
  background: #ffff !important;
  color: #00bcd4 !important;
  border: 1px solid #00bcd4;
}

.auth-box2{
margin-left: 30px !important;
width: 30%;
}